<%= form_with model: [@post, @post.replies.build] do |form| %>
  <div>
  	<%= form.text_field :name, placeholder: "Name" %>
  	<%= form.text_area :body, placeholder: "Body" %>
  </div>
  <div>
  	<%= form.submit %>
  </div>
<% end %>