<%# Create a form for post that has placeholders %>
<%= form_with model: post do |form| %>
  <div class="form-group mb-3">
  	<%= form.text_field :title, class: "form-control mb-1", placeholder: "Subject" %>
  	<%= form.text_area :body, class: "form-control", placeholder: "Body", rows: "5" %>
  </div>

  <div class="form-group ms-2">
  	<%= form.submit "Submit", class: "btn btn-secondary mb-3" %>
  </div>
<% end %>